{% extends 'base.html' %}

{% block content %}

<h2><a href="/">Home</a>-<a href="/minizakgeld_details">Genel Tablo</a></h2>

<form method="post" >{% csrf_token %}

<table border="1" style="border-color: brown; font-size: 23px;">
    <tr><th><label for="person">Person</label></th><th><input type="text" name= "person" id="person"></th>
    <tr><th><label for="task">Task</label> </th><th><input type="text" name= "task" id="task"></th>
    <tr><th><label for="amount">Amount</label></th><th><input type="text" name= "amount" id="amount"></th></tr>
</table>
    <br><input type="submit" value="Save">

</form>

{% endblock %}